.main-container {
  min-height: 100vh;
  color: white;
}

.card {
  background: #3b4c5a;
}

.mycard-container {
  height: 200px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.mycard {
  background-color: #2980b9;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: blue;
}

.front {
  background-color: #bbb;
  color: black;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.rotate {
  transform: rotateY(180deg);
}

@media (max-width: 1200px) {
  .mycard-container {
    height: 200px;
  }
}

@media (max-width: 992px) {
  .mycard-container {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .front {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .mycard-container {
    height: 100px;
  }
}

@media (max-width: 576px) {
  .mycard-container {
    height: 230px;
  }
} ;
